<!--<app-page-header [heading]="'Employee Master'"></app-page-header>-->
<h3>Employee Master</h3>
<hr/>
<div class="row">
    <div class="col-lg-12">  
        <div *ngIf="!showContainer">
            <button type="button" class="btn btn-primary" (click)="ViewContainer()">Add Employee</button>
            <dx-data-grid id="gridContainer"
                          [dataSource]="employees"
                          [allowColumnReordering]="true"
                          [allowColumnResizing]="true"
                          [columnAutoWidth]="true"
                          (onEditingStart)="OnEditingStart($event)">
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                <dxo-filter-row [visible]="showFilterRow"
                                [applyFilter]="auto"></dxo-filter-row>

                <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
                <dxo-editing mode="form"
                             [allowUpdating]="true"
                             [allowDeleting]="false"
                             >
                </dxo-editing>
               
                <dxo-search-panel [visible]="true"
                                  [width]="240"
                                  placeholder="Search..."></dxo-search-panel>
                
                <dxi-column caption="Employee Name"
                            dataField="EmployeeName"
                            [width]="230"
                            [fixed]="true"
                            ></dxi-column>
                
                <dxi-column caption="Employee Code"
                            dataField="EmployeeCode"
                            ></dxi-column>
                <dxi-column dataField="Email"></dxi-column>
                <dxi-column dataField="OID" [visible]="false" ></dxi-column>
                <dxi-column dataField="DOJ" caption="Date Of joining" ></dxi-column>
                <dxi-column dataField="DOL" caption="Date Of Leaving" ></dxi-column>
                <dxi-column dataField="IsActive" caption="Active"></dxi-column>
                <dxi-column dataField="IsAdmin" caption="Admin"></dxi-column>
                <dxi-column dataField="IsPMO" caption="PMO"></dxi-column>
                <dxi-column dataField="IsOfficer" caption="Officer"></dxi-column>
                <dxi-column dataField="IsAutoScheduleMail" caption="Auto Schedule Mail"></dxi-column>
                <dxi-column dataField="IsTimesheetToBeApproved" caption="Timesheet To be Approved"></dxi-column>
                <dxi-column dataField="DisplayBillingPrice" caption="Display Billing Price"></dxi-column>
                <dxi-column dataField="DisplayCostPrice" caption="Display Cost Price"></dxi-column>
                <dxi-column dataField="Rollname" caption="Roles"></dxi-column>
                <dxi-column dataField="Depart" caption="Department"></dxi-column>
                <dxi-column dataField="CategoryName" caption="Category"></dxi-column>
                <dxi-column dataField="SubCategoryName" caption="Sub Category"></dxi-column>
            </dx-data-grid>
        </div>
    </div>
</div>
<br/>
    <div *ngIf="showContainer">
        <form #personalInfo="ngForm" (ngSubmit)="OnSubmit(personalInfo.value)">
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Personal Information</div>
                        <div class="panel-body">
                            <!--<div class="form-group">
                               <label for="EmployeeNumber">Employee Number:</label>
                               <input type="number" #e_no="ngModel" class="form-control" maxlength="3" id="e_no" placeholder="Employee Number"  name="EmployeeNumber" ngModel required>
                                <div *ngIf="e_no.errors && (e_no.dirty || e_no.touched)" class="alert alert-danger">
                                    <div [hidden]="!e_no.errors.required">
                                        Please Enter Employee Number
                                    </div>
                                    <div [hidden]="!e_no.errors.maxlength">
                                        Please Enter atlest 4 Character
                                    </div>
                                </div>
                            </div>-->
                           <input type="text" id="e_id" name="EmployeeOID" [(ngModel)]="OID" hidden /> 
                            <div class="form-group">
                                <label for="EmployeeCode">Employee Code:</label>
                                <input type="number" #e_code="ngModel" class="form-control" id="e_code" placeholder="Employee Code" name="EmployeeCode" [(ngModel)]="emp_code" required>
                                <div *ngIf="e_code.errors && (e_code.dirty || e_code.touched)" class="alert alert-danger">
                                    <div [hidden]="!e_code.errors.required">
                                        Please Enter Employee Code
                                    </div>
                                   
                                </div>
                             </div>
                            <div class="form-group">
                                <label for="EmployeeName">Employee Name:</label>
                                <input type="text" class="form-control" #e_name="ngModel" pattern="[A-Z a-z]{1,30}" id="e_name" placeholder="Employee Name" maxlength="30" name="EmployeeName" [(ngModel)]="emp_name" required >
                               
                                <div *ngIf="e_name.errors && (e_name.dirty || e_name.touched)" class="alert alert-danger">
                                    <div [hidden]="!e_name.errors.required">
                                        Please Enter Employee Name
                                    </div>
                                    <div [hidden]="!e_name.errors.maxlength">
                                        Please Do Not Exceed 20 characters
                                    </div>
                                    <div [hidden]="!e_name.errors.pattern">
                                        Please Enter Valid Name
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email">Email Address:</label>
                                <input type="email" class="form-control" id="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email Address" name="Email" [(ngModel)]="emp_address" required>
                                <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                                    <div [hidden]="!email.errors.pattern">
                                        Please Enter Valid Email
                                    </div>
                                    <div [hidden]="!email.errors.required">
                                        Please Enter Email Address
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="Password">Password:</label>
                                <input type="password" [disabled]="archiveStatus" #password="ngModel" minlength="4" class="form-control" id="pass" placeholder="Password" name="Password" ngModel required>
                                <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
                                    <div [hidden]="!password.errors.required">
                                        Please Enter Password
                                    </div>
                                    <div [hidden]="!password.errors.minlength">
                                        Please Enter atleast 4 character
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="c_pass">Confirm Password:</label>
                                <input type="password"  [disabled]="archiveStatus" #cpass="ngModel" class="form-control" validateEqual="Password" reverse="false" minlength="4" id="c_pass" placeholder="Confirm Password" name="c_pass" ngModel required>
                                <div [hidden]="cpass.valid || cpass.pristine"
                                     class="alert alert-danger">
                                    Passwords did not match
                                </div>
                              
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="exampleInputFile" class="col-md-4">Select Image:</label>
                                        <fieldset class="form-group col-md-8">
                                            <input #fileInput type="file" class="form-control-file" id="exampleInputFile" accept="image/gif, image/jpeg, image/png" name="sampleFile" (change)="fileChangeEvent($event)">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <img-cropper hidden [settings]="cropperSettings"></img-cropper><br>
                                        <img [src]='imageSrc' alt="your image"   class="img-responsive center-block" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Administrative Information</div>
                        <div class="panel-body">
                            <div class="dx-field">
                                <div class="dx-field-label"><strong>Date of Joining:</strong></div>
                                <div class="dx-field-value">
                                    <dx-date-box [(ngModel)]="DOJ"
                                                 type="date"
                                                 name="DateOfJoining"
                                                 ngModel>
                                    </dx-date-box>
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label"><strong>Date of Leaving:</strong></div>
                                <div class="dx-field-value">
                                    <dx-date-box [(ngModel)]="DOL"
                                                 type="date"
                                                 name="DateOfLeaving"
                                                 ngModel>
                                    </dx-date-box>
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label for="EmployeeCategory" class="col-md-5">Select Category:</label>
                                <select class="form-control col-md-7"  #category="ngModel" style="height:30px;" (change)="Onselect($event.target.value)" id="EmployeeCategory" name="EmployeeCategory" [(ngModel)]="Category" required>
                                    <option value="0">--Select--</option>
                                    <option *ngFor=" let category of categories"
                                            value={{category.OID}}>
                                        {{category.CategoryName}}
                                    </option>
                                </select>
                                <div *ngIf="category.errors && (category.dirty || category.touched)" class="alert alert-danger">
                                    <div [hidden]="!category.errors.required">
                                        Please select Category
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-5"></div>
                                <select class="form-control col-md-7" #subCategory="ngModel" style="height:30px;" name="sub_category" [(ngModel)]="SubCategory" required>
                                    <option value="0">--Select--</option>
                                    <option *ngFor=" let subcategory of subcategories" value={{subcategory.OID}}>
                                        {{subcategory.SubCategoryName}}
                                    </option>
                                </select>
                                <div *ngIf="subCategory.errors && (subCategory.dirty || subCategory.touched)" class="alert alert-danger">
                                    <div [hidden]="!subCategory.errors.required">
                                        Please select subCategory
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-5" for="Department">Department:</label>
                                <select class="form-control col-md-7" #dept="ngModel" style="height:30px;" name="Department" [(ngModel)]="department" required>
                                    <option value="0">--Select--</option>
                                    <option *ngFor=" let depart of departments" value={{depart.OID}}>
                                        {{depart.Department}}
                                    </option>
                                </select>
                                <div *ngIf="dept.errors && (dept.dirty || dept.touched)" class="alert alert-danger">
                                    <div [hidden]="!dept.errors.required">
                                        Please select Department
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-5" for="active">Is Active</label>
                                <input type="checkbox" name="active" [(ngModel)]="IsActive"/>
                            </div>

                            <div class="form-group">
                                <label>Employee Roles</label>
                                <select id="dates-field2"  #role="ngModel" style="height:200px;" name="Role" class="multiselect-ui form-control" multiple="multiple" [(ngModel)]="selectedRoleObj" required >
                                    <option value="0">--Select--</option>
                                    <option *ngFor="let role of roles" value={{role.OID}}>
                                        {{role.RollName}}
                                    </option>
                                </select>
                                <div *ngIf="role.errors && (role.dirty || role.touched)" class="alert alert-danger">
                                    <div [hidden]="!role.errors.required">
                                        Please select Role
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12" style="text-align:center;" *ngIf="!archiveStatus">
                    <button type="submit" [disabled]="!personalInfo.form.valid" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-danger " (click)="CancelAdd()">Cancel</button>
                </div>
            </div>
            <div class="row" *ngIf="archiveStatus">
                <div class="col-md-12" style="text-align:center;">
                    
                    <button type="button" [disabled]="!personalInfo.form.valid" (click)="OnUpdate(personalInfo.value)" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger " (click)="CancelAdd()">Cancel</button>
                </div>
            </div>
        </form>
    </div>

   

